<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>

    <center>
        <h1>
            Terminologias
        </h1>
    </center>
    <ol>
        <% resp.forEach(function (terminologia) { %>   
          <li>  <%= terminologia  %> </li>
        </br>
        <% }); %>
    </ol>

    <center>
        <h1>
            Palavras
        </h1>
       
    </center>

    <form action="/definition/pdf" method="POST">
    <button type="submit">Visualizar PDF</button>
    </form>

</body>
</html>