<!DOCTYPE html>
<html lang="pt-BR">

  

  <head>
    <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 100 100%22><text y=%22.9em%22 font-size=%2290%22>🎯</text></svg>">
    <link rel="stylesheet" type="text/css" href="/css/style.css">
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>SGLT - SISTEMA DE GLOSSÁRIO LÉXICO E TERMINOLÓGICO</title>
  </head>
  
  <body>
    <div class="container">
      <div class="box">
    
        

      
        <div class="boxForm1">    
          
          <h1>SGLT</h1>
          <h4>SISTEMA DE GLOSSÁRIO LÉXICO E TERMINOLÓGICO</h4>
          <form method="post" enctype="multipart/form-data" action="/upload">

          <center>
        <div class="upload-btn-wrapper">
          <button class="btn">Selecionar Arquivo</button>
          <input type="file" name="file" accept="application/pdf" />
        </div>

        <div class="boxButton2">   
        <input type="submit" class="button" value="Enviar" />
        </div> 
      </center>
        </form>
  
        </div>
     

      </div>
    </div>
  </body>
</html>