<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script>   </script>
</head>
<body>
    
    <h1>Terminologias: </h1>

    <p><%= termin %></p>

    <h1>Principais Palavras: </h1>

    <p><%= palavr %></p>


</body>

   <script>
   
    var array = []
    var checkboxes = document.querySelectorAll('input[type=checkbox]:checked')
    
    for (var i = 0; i < checkboxes.length; i++) {
      array.push(checkboxes[i].value)
    }
    
    </script>

</html>
