<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script type="text/javascript" src="api.js"></script>
  </script>
</head>

<body>
    <h1>Terminologias: </h1>
    
    <form action="/definition" method="POST">

      <% termin.forEach(function (terminologia) { %>   
        <input type="checkbox" id="terminologia" name=<%= terminologia %>>
        <%= terminologia %>
      <% }); %>

    
    <h1>Principais Palavras: </h1>

    
    <% palavr.forEach(function (palavra) { %>
      <input type="checkbox" id="palavra" name=<%= palavra %>>
      <%= palavra[0] %>
    <% }); %>

    <button type="submit">Definições</button>

    </form>
</body>

</html>

